/* -------------------------------------------- */
/* Styling //////////////////////////////////// */
/* -------------------------------------------- */

div.FavouriteDecorator {
  /* Position */
  position: relative;

  div.Favourite {
    /* Position */
    position: absolute;
    top: 5px;
    right: 5px;

    div.Icon {
        width: 36px;
        height: 36px;
    }
  }
}
